.buttons-column{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.button-edit, .button-delete{
    display: flex;
    width: 50%;
    justify-content: center;
}

.table-container{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;

}
