.modal-container{
    display: flex;
    flex-direction: column;
}
.modal-butons{
    display: flex;
    flex-direction: row;
    align-self: self-end;
}
.modal-yes-button {
    margin-right: 15px;
}
.add-modal-container{
    display: flex;
    flex-direction: column;
    height: 80%;

}
.field-containers {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 15px;

}
.add-customer-modal-butons{
    display: flex;
    flex-direction: row;
    align-self: self-end;
    margin-top: 20px;

}
.newCustomerError{
    color: red;
    font-size: 10px;
}